.zz-icon-navbar-margin {
	margin-right:4px;
}

div#zz-sidebar {
	height: 100%;
	padding-right: 0px !important;
	padding: 20px;
	padding-top: 0px;
	margin-right: 20px;
	overflow: scroll;
}

div#zz-main-content {
	height: 100%;
	overflow: scroll;
}

.zz-profile-picture {
	width: 140px;
}